:root{
    --bgColor-1: #ffffff;
    --bgColor-2: #000000;
    --mainTextClr: #000000;
    --secondTextClr: #ffffff;
    --hoverBgClr: #555;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
}
nav{
    background-color: var(--bgColor-2);
    color: var(--secondTextClr);
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo h1{
    font-size: 3rem;
    cursor: pointer;
    transition: .3s;
}
.logo h1:hover{
    transform: scale(1.1);
}
.nav-bar{
    display: flex;
    font-weight: 900;
}
.nav-bar .home{
    margin-right: 30rem;
}
.nav-bar ul li{
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--secondTextClr);
}
.nav-bar ul li a:hover{
    text-decoration: underline;
}
.sign-in button{
    background: linear-gradient(45deg, #ffd700, #be8900);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.sign-in button:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgb(255, 217, 0);
}  
.sign-in a {
    color: var(--mainTextClr);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}
.container{
    border: 0.5rem solid black;
    margin: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 7rem;
    border-radius: 2rem;
}
.container h1{
    margin-left: 45rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}
.container h2{
    margin-left: 25rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}
.container p{
    margin-left: 30rem;
    font-size: 1.5rem;
    text-indent: 2rem;
}
.container ul, ol{
    margin-left: 35rem;
    font-size: 1.5rem;
}
h3{
    margin-left: 45rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.game {
    margin-left: 50rem;
    background-color: var(--bgColor-2);
    border: 0.1rem solid transparent;
    transition: .3s background-color ease;
    width: 10%;
}
.game a{
    font-size: 1.2rem;
    font-weight: 900;
    text-decoration: none;
    color:  var(--secondTextClr);
}
.game:hover{
    background-color: var(--hoverBgClr);
    border: 0.1rem solid black;
}
footer {
    background-color: var(--bgColor-2);
    color: var(--secondTextClr);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 1rem;
}
footer p{
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}